{# templates/book/detail.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails du Livre{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>
    <div>
        <span>Auteur :</span>
        <a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        href="{{ path('author_detail', {id: book.author.id}) }}">{{ book.author.name }}</a>
        <p>A propos de l'auteur : {{ book.author.biography }}</p>
        {% for category in book.categories %}
            <p>Catégorie : <a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('category_detail', {id: category.id })}}"><span class="badge bg-secondary">{{ category.name }}</span></a>

            </p>
        {% endfor %}
    </div>
    <a href="{{ path('book_list') }}">Retour à la liste des livres</a>
{% endblock %}
